// Clearfix mixin
@mixin clearfix {
    display: table;
    content: '';
    clear: both;

}

// Google fonts import

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@300;500;700&display=swap');

// Colors variables

$dark_cyan_color: hsl(158, 36%, 37%);
$cream_color: hsl(30, 38%, 92%);
$dark_blue_color: hsl(212, 21%, 14%);
$dark_gray_color: hsl(228, 12%, 48%);
$white_color: hsl(0, 0%, 100%);

// Style reset

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    background-color: $cream_color;
    // position: relative;
}


.container {
    width: 600px;
    height: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: grid;
    grid-template-columns: 300px 300px;



    &__left {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        width: 300px;
        height: 450px;
        background-image: url(/product-preview-card-component-main/images/image-product-desktop.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

    }

    &__right {
        background-color: $white_color;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 25px;
    }

    &__subtitle {
        text-transform: uppercase;
        color: $dark_gray_color;
        letter-spacing: 7px;
        font-size: 14px;
        margin-bottom: 20px;
        font-weight: 600;
    }

    &__heading {
        font-family: 'Fraunces', serif;
        font-weight: bolder;
        font-size: 36px;
        line-height: 30px;
        margin-bottom: 30px;
    }

    &__paragraph {
        color: $dark_gray_color;
        line-height: 24px;
        font-weight: 500;
        margin-bottom: 30px;
    }

    &__pricing {
        color: $dark_cyan_color;
        font-family: 'Fraunces', serif;
        font-size: 32px;
        display: flex;
        align-items: center;
        margin-bottom: 30px;


        &-small {
            display: inline-block;
            margin-left: 15px;
            text-decoration: line-through;
            color: $dark_gray_color;
            font-family: 'Montserrat', sans-serif;
            font-size: 12px;
        }
    }

    &__button {
        background-color: $dark_cyan_color;
        display: block;
        cursor: pointer;
        color: $white_color;
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        padding: 15px 68px;
        border: none;
        border-radius: 8px;

        &:active,
        &:hover {
            background-color: darken($color: $dark_cyan_color, $amount: 15%);
        }


    }
}

@media only screen and (max-width:650px) {


    .container {
        display: block;
        width: auto;
        // position: relative;
        // margin: 1rem auto;

        &__left {
            width: 400px;
            height: 300px;
            background-image: url(/product-preview-card-component-main/images/image-product-mobile.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            overflow: hidden;
            border-top-right-radius: 10px;
        }


        &__right {
            text-align: left;
        }

        &__button {
            width: 350px;
        }
    }
}

@media only screen and (max-width:430px) {
    .container {
        &__left {
            width: 300px;
        }

        &__right {
            width: 300px;
        }

        &__button {
            width: 250px;
        }
    }
}